<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <title>Tag FORM</title>
    </head>
    <body>
        <h1>Tag form</h1>
        <form method="post" action="/form/" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}

           <!-- <label for="feedback-text"> Feedback: </label>
            <input id="feedback-text" type="text" name="feedback" minlength="3" maxlength="50" required>

            <label for="feedback-rate"> Rate: </label>
            <input id="feedback-rate" type="number" name="rate" min="1" max="100" required>
-->
            <input id="feedback-submit" type="submit" name="submit">
        </form>
            <div>
                {{ feedback }}
                {{ rate }}
                {{ file }}
            </div>
    </body>
</html>